.paging {
  display: flex;
  justify-content: center;
  padding-left: 0px; /* li 들여쓰기 공간 삭제 */
}

.paging ul {
  padding-left: 0px; /* li 들여쓰기 공간 삭제 */
}

.paging li {
  width: 30px;
  height: 30px;
  border: 1px solid #e2e2e2;
  padding-left: 0px; /* li 들여쓰기 공간 삭제 */
  list-style: none; /* li 점 삭제 */
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

ul.pagination li:active a {
  background-color: blue;
}
