.list {
  /* 책 정보 표시 창 */
  width: 900px;
  margin: 0px auto;
  padding: 20px 0px;
  display: grid;
  grid-template-columns: 1fr 3.5fr;
  border-top: 1px solid black;
}

.img {
  height: 260px;
  width: 182px;
  border: 1px solid rgb(150, 150, 150);
}

.explain {
  line-height: 30px;
}

.btn {
  background-color: rgb(88, 141, 255);
  color: white;
  border: 0px;
  width: 100px;
  height: 40px;
  text-align: center; /* ex) 버튼 안의 글자 가로 가운데 정렬 */
  line-height: 40px; /* ex) 버튼 안의 글자 세로 가운데 정렬 height와 같은 값 이여야 함*/
  font-size: 15px;
  cursor: pointer;
}

.explain a {
  font-size: 24px;
  text-decoration: none;
  color: black;
}
.explain a:hover {
  text-decoration: underline;
}
