.hidden {
  visibility: hidden;
  color: rgb(228, 0, 0);
}

.show {
  color: rgb(228, 0, 0);
}

.nickname {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.nickname_text {
  height: 50px;
  padding: 0px 20px;
  background-color: rgba(0, 0, 0, 0.1);
  outline: none; /* 포커스 시 파란테두리 제거 */
  font-size: 18px;
  border: none;
}

.nickname_btn {
  padding: 0px;
  height: 50px;
  background-color: rgb(88, 141, 255);
  color: white;
  font-size: 18px;
  cursor: pointer;
  border: none;
}
