.main {
  border: 2px solid rgb(88, 141, 255);
  align-items: center;
}

.ul {
  margin: 0px;
  list-style: none; /* li 점 삭제 */
  padding-left: 0px; /* li 들여쓰기 공간 삭제 */
  display: flex;
  justify-content: space-between;
}

.li {
  padding: 20px;
  width: 10%;
  height: 15px;
  cursor: pointer;
  font-size: 15px;
  cursor: default;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}
