.main {
  width: 700px;
  margin: 0px auto;
  display: grid;
  grid-template-rows: 0fr 0fr 0fr;
  grid-row-gap: 20px; /* grid row 사이 갭 */
  padding: 1px;
  border: 1px solid blue;
}

.bookMain {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 1px;
  border: 2px solid rgb(0, 255, 0);
}

.img {
  height: 350px;
  width: auto;
  border: 1px solid black;
}

.title {
  display: grid;
  grid-template-rows: 3fr 1fr;
  border: 2px solid red;
}

.info {
  height: fit-content;
  padding-left: 10px;
  line-height: 30px;
  padding: 20px 20px;
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 20px;
}

.like {
  padding: 20px 20px;
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 20px;
}

.book_title {
  font-size: 20px;
}

.bookInfo {
  line-height: 23px;
  height: fit-content;
  padding: 20px 20px;
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 20px;
}
